### Домашнее задание. Классификация: Логистическая регрессия и SVM.


Имеются данные adult.csv (см. в материалах к занятию).


Целевой переменной является уровень дохода income (крайний правый столбец).


Описание признаков можно найти по ссылке http://www.cs.toronto.edu/~delve/data/adult/adultDetail.html

Вам необходимо построить модели логистической регрессии и SVM, которые предсказывает уровень дохода человека.
Вывести качество полученных моделей на тестовой выборке, используя функцию score у модели.
Готовый ноутбук выложить на гитхаб и прислать ссылку.

In [96]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

In [9]:
# читаем датасет
df = pd.read_csv('adult.csv')
df.head(10)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K

In [12]:
# смотрим на значения искомой переменной
df.income.unique()

array(['<=50K', '>50K'], dtype=object)

In [20]:
# здесь я забыл по LabelEncoder, но потом я его применил
df['num_income'] = df.income.transform(lambda x: 0 if x == '<=50K' else 1)
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,num_income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K,0
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K,0
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K,1
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K,1
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K,0

In [22]:
# изучаем структуру датасета
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 16 columns):
age                48842 non-null int64
workclass          48842 non-null object
fnlwgt             48842 non-null int64
education          48842 non-null object
educational-num    48842 non-null int64
marital-status     48842 non-null object
occupation         48842 non-null object
relationship       48842 non-null object
race               48842 non-null object
gender             48842 non-null object
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null object
income             48842 non-null object
num_income         48842 non-null int64
dtypes: int64(7), object(9)
memory usage: 6.0+ MB

In [26]:
# изучаем структуру датасета, смотрим уникальные значения к колонках
for col in df:
    print(df[col].unique())

[25 38 28 44 18 34 29 63 24 55 65 36 26 58 48 43 20 37 40 72 45 22 23 54
 32 46 56 17 39 52 21 42 33 30 47 41 19 69 50 31 59 49 51 27 57 61 64 79
 73 53 77 80 62 35 68 66 75 60 67 71 70 90 81 74 78 82 83 85 76 84 89 88
 87 86]
['Private' 'Local-gov' '?' 'Self-emp-not-inc' 'Federal-gov' 'State-gov'
 'Self-emp-inc' 'Without-pay' 'Never-worked']
[226802  89814 336951 ... 129912 255835 257302]
['11th' 'HS-grad' 'Assoc-acdm' 'Some-college' '10th' 'Prof-school'
 '7th-8th' 'Bachelors' 'Masters' 'Doctorate' '5th-6th' 'Assoc-voc' '9th'
 '12th' '1st-4th' 'Preschool']
[ 7  9 12 10  6 15  4 13 14 16  3 11  5  8  2  1]
['Never-married' 'Married-civ-spouse' 'Widowed' 'Divorced' 'Separated'
 'Married-spouse-absent' 'Married-AF-spouse']
['Machine-op-inspct' 'Farming-fishing' 'Protective-serv' '?'
 'Other-service' 'Prof-specialty' 'Craft-repair' 'Adm-clerical'
 'Exec-managerial' 'Tech-support' 'Sales' 'Priv-house-serv'
 'Transport-moving' 'Handlers-cleaners' 'Armed-Forces']
['Own-child' 'Husband' 'Not-in-family' 'Unmarried' 'Wife' 'Other-relative']
['Black' 'White' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']
['Male' 'Female']
[    0  7688  3103  6418  7298  3908 14084  5178 15024 99999  2597  2907
  4650  6497  1055  5013 27828  4934  4064  3674  2174 10605  3418   114
  2580  3411  4508  4386  8614 13550  6849  2463  3137  2885  2964  1471
 10566  2354  1424  1455  3325  4416 25236   594  2105  4787  2829   401
  4865  1264  1506 10520  3464  2653 20051  4101  1797  2407  3471  1086
  1848 14344  1151  2993  2290 15020  9386  2202  3818  2176  5455 11678
  7978  7262  6514 41310  3456  7430  2414  2062 34095  1831  6723  5060
 15831  2977  2346  3273  2329  9562  2635  4931  1731  6097   914  7896
  5556  1409  3781  3942  2538  3887 25124  7443  5721  1173  4687  6612
  6767  2961   991  2036  2936  2050  1111  2228 22040  3432  6360  2009
  1639 18481  2387]
[   0 1721 1876 2415 1887  625 1977 2057 1429 1590 1485 2051 2377 1672
 1628 1902 1602 1741 2444 1408 2001 2042 1740 1825 1848 1719 3004 2179
 1573 2205 1258 2339 1726 2258 1340 1504 2559 1668 1974 1980 1564 2547
 2002 1669 1617  323 3175 2472 2174 1579 2129 1510 1735 2282 1870 1411
 1911 1651 1092 1762 2457 2231 2238  653 1138 2246 2603 2392 1944 1380
 2465 1421 3770 1594  213 2149 2824 1844 2467 2163 1816 1648 2206 2352
  419 1539  880  810  974 4356 2489 1755 3683 2267 2080  155 3900 2201
 2754]
[40 50 30 32 10 39 35 48 25 20 45 47  6 43 90 54 60 38 36 18 24 44 56 28
 16 41 22 55 14 33 37  8 12 70 15 75 52 84 42 80 68 99 65  5 17 72 53 29
 96 21 46  3  1 23 49 67 76  7  2 58 26 34  4 51 78 63 31 92 77 27 85 13
 19 98 62 66 57 11 86 59  9 64 73 61 88 79 89 74 69 87 97 94 82 91 81 95]
['United-States' '?' 'Peru' 'Guatemala' 'Mexico' 'Dominican-Republic'
 'Ireland' 'Germany' 'Philippines' 'Thailand' 'Haiti' 'El-Salvador'
 'Puerto-Rico' 'Vietnam' 'South' 'Columbia' 'Japan' 'India' 'Cambodia'
 'Poland' 'Laos' 'England' 'Cuba' 'Taiwan' 'Italy' 'Canada' 'Portugal'
 'China' 'Nicaragua' 'Honduras' 'Iran' 'Scotland' 'Jamaica' 'Ecuador'
 'Yugoslavia' 'Hungary' 'Hong' 'Greece' 'Trinadad&Tobago'
 'Outlying-US(Guam-USVI-etc)' 'France' 'Holand-Netherlands']
['<=50K' '>50K']
[0 1]

In [35]:
# анализ показал, что в ряде сторк есть неизвестные значения. Отбросим их
df1 = df[(df['workclass'] != '?') & (df['occupation'] != '?') & (df['native-country'] != '?')]
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45222 entries, 0 to 48841
Data columns (total 16 columns):
age                45222 non-null int64
workclass          45222 non-null object
fnlwgt             45222 non-null int64
education          45222 non-null object
educational-num    45222 non-null int64
marital-status     45222 non-null object
occupation         45222 non-null object
relationship       45222 non-null object
race               45222 non-null object
gender             45222 non-null object
capital-gain       45222 non-null int64
capital-loss       45222 non-null int64
hours-per-week     45222 non-null int64
native-country     45222 non-null object
income             45222 non-null object
num_income         45222 non-null int64
dtypes: int64(7), object(9)
memory usage: 5.9+ MB

In [43]:
# Проверяем что не осталось неизвестных значений
for col in df1:
    print(col, df1[col].unique())

age [25 38 28 44 34 63 24 55 65 36 26 48 43 20 37 45 22 23 54 32 46 56 17 29
 39 52 18 21 42 33 30 47 41 19 69 50 31 59 49 58 40 27 57 61 51 73 53 80
 62 35 72 64 68 66 60 67 71 70 90 77 81 74 78 82 75 85 76 89 83 79 88 87
 84 86]
workclass ['Private' 'Local-gov' 'Self-emp-not-inc' 'Federal-gov' 'State-gov'
 'Self-emp-inc' 'Without-pay']
fnlwgt [226802  89814 336951 ... 199655 255835 257302]
education ['11th' 'HS-grad' 'Assoc-acdm' 'Some-college' '10th' 'Prof-school'
 '7th-8th' 'Bachelors' 'Masters' '5th-6th' 'Assoc-voc' '9th' 'Doctorate'
 '12th' '1st-4th' 'Preschool']
educational-num [ 7  9 12 10  6 15  4 13 14  3 11  5 16  8  2  1]
marital-status ['Never-married' 'Married-civ-spouse' 'Widowed' 'Separated' 'Divorced'
 'Married-spouse-absent' 'Married-AF-spouse']
occupation ['Machine-op-inspct' 'Farming-fishing' 'Protective-serv' 'Other-service'
 'Prof-specialty' 'Craft-repair' 'Adm-clerical' 'Exec-managerial'
 'Tech-support' 'Sales' 'Priv-house-serv' 'Transport-moving'
 'Handlers-cleaners' 'Armed-Forces']
relationship ['Own-child' 'Husband' 'Not-in-family' 'Unmarried' 'Wife' 'Other-relative']
race ['Black' 'White' 'Other' 'Amer-Indian-Eskimo' 'Asian-Pac-Islander']
gender ['Male' 'Female']
capital-gain [    0  7688  3103  6418  7298  3908 14084  5178 15024  2597  2907  4650
  6497  5013 27828  4934  4064  3674  2174 10605 99999  1055   114  2580
  3411  4508  4386  8614 13550  6849  2463  3137  2885  2964  1471 10566
  2354  1424  1455  3325  4416 25236  4787  2829  4865  1264  1506   594
 10520  3464 20051  4101  1797  2407  3471  2653  1086  1848 14344  1151
  2993  2290 15020  9386  2202  3818  2176  5455  3418 11678  7978  7262
  6514 41310  3456  7430  2062 34095  1831  6723  5060 15831  2977  2346
  3273  2329  9562  2105  2635  2414  4931  1731  6097   914  7896  5556
  3781  3942  2538  3887  1409 25124  7443  5721   401  1173  4687  6767
   991  2036  2050  2961  2228 22040  2936  6360  2009  3432  1639 18481
  2387]
capital-loss [   0 1721 1876 2415 1887  625 1977 2057 1429 1590 1485 2051 2377 1672
 1628 1902 1741 2444 1408 2001 2042 1740 1825 1848 1719 3004 2179 1573
 2205 1258 2339 1726 2258 1340 1504 2559 1668 1974 1980 1564 2547 2002
 1669 1617  323 1602 3175 2472 1579 2129 1735 2282 1870 1911 1092 1762
 2457 2231 2238  653 1138 2246 2603 2392 1510 1944 1380 1421 3770 1594
  213 2824 2174 1844 2149 1411 2467 2163 1651 1816 2206 2352 1539  880
  810  974 1648 1755 3683 4356 2267 2080  419  155 3900 2201 2754]
hours-per-week [40 50 30 32 10 39 48 25 20 47 35 43 90 54 60 38 45 36 18 24 44 56 28 16
 41 22 55 14 33 37 12 70 15 75 52 84 42 80  8 68 99 65 17 72 53 96 21 46
  3  1 49 67 76 23  2 58 26 34  4  7 51 78 63  5 31 92 77 27 29 85  6 13
 19 98 62 66 57 86 11 59  9 64 73 61 88 79 89 74 69 87 97 94 82 91 81 95]
native-country ['United-States' 'Peru' 'Guatemala' 'Mexico' 'Dominican-Republic'
 'Ireland' 'Germany' 'Philippines' 'Thailand' 'Haiti' 'El-Salvador'
 'Puerto-Rico' 'Vietnam' 'South' 'Columbia' 'Japan' 'India' 'Cambodia'
 'Poland' 'Laos' 'England' 'Cuba' 'Taiwan' 'Italy' 'Canada' 'Portugal'
 'China' 'Nicaragua' 'Honduras' 'Iran' 'Scotland' 'Jamaica' 'Ecuador'
 'Yugoslavia' 'Hungary' 'Hong' 'Greece' 'Trinadad&Tobago'
 'Outlying-US(Guam-USVI-etc)' 'France' 'Holand-Netherlands']
income ['<=50K' '>50K']
num_income [0 1]

In [46]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [47]:
# Переводим искомые значению в числовую кодировку
le.fit(df1['income'])

LabelEncoder()

In [55]:
# Переводим искомые значению в числовую кодировку. Заносим в массив значения income
y = le.transform(df1.income)
y.shape

(45222,)

In [58]:
# выбираем колонки, которые будут служить параметрами модели
SelectedColumns = df1[['age', 'workclass', 'educational-num', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country']]
SelectedColumns

,age,workclass,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
0,25,Private,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States
1,38,Private,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States
2,28,Local-gov,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States
3,44,Private,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States
5,34,Private,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States
7,63,Self-emp-not-inc,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States
8,24,Private,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States
9,55,Private,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States
10,65,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States
11,36,Federal-gov,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States
12,26,Private,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States
14,48,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States
15,43,Private,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States
16,20,State-gov,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States
17,43,Private,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States
18,37,Private,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States
20,34,Private,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States
21,34,Private,10,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States
23,25,Private,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru
24,25,Private,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
25,45,Self-emp-not-inc,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States
26,22,Private,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
27,23,Private,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States
28,54,Private,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States
29,32,Self-emp-not-inc,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States
30,46,State-gov,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,7688,0,38,United-States
31,56,Self-emp-not-inc,7,Widowed,Other-service,Unmarried,White,Female,0,0,50,United-States
32,24,Self-emp-not-inc,13,Never-married,Sales,Not-in-family,White,Male,0,0,50,United-States
33,23,Local-gov,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States
34,26,Private,9,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...
48807,32,Private,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States
48808,22,Private,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,United-States
48809,31,Private,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,United-States
48810,29,Private,9,Separated,Sales,Unmarried,White,Female,0,0,35,United-States
48813,34,Private,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States
48814,54,Private,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan
48815,37,Private,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States
48816,22,Private,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States
48817,34,Private,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States
48818,30,Private,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States
48819,38,Private,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States
48821,45,State-gov,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States
48824,45,Local-gov,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States
48825,31,Private,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States
48826,39,Local-gov,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States
48827,37,Private,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States
48828,43,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico
48829,65,Self-emp-not-inc,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States
48830,43,State-gov,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States
48831,43,Self-emp-not-inc,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States
48832,32,Private,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States
48833,43,Private,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States
48834,32,Private,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan
48835,53,Private,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
48836,22,Private,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States
48837,27,Private,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States
48838,40,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
48839,58,Private,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
48840,22,Private,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
48841,52,Self-emp-inc,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States

In [64]:
# применяем one hot encoding к текстовым значениям, проверяем состав параметров.
X = pd.get_dummies( SelectedColumns, columns = [ 'workclass','marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country'] )
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45222 entries, 0 to 48841
Data columns (total 87 columns):
age                                          45222 non-null int64
educational-num                              45222 non-null int64
capital-gain                                 45222 non-null int64
capital-loss                                 45222 non-null int64
hours-per-week                               45222 non-null int64
workclass_Federal-gov                        45222 non-null uint8
workclass_Local-gov                          45222 non-null uint8
workclass_Private                            45222 non-null uint8
workclass_Self-emp-inc                       45222 non-null uint8
workclass_Self-emp-not-inc                   45222 non-null uint8
workclass_State-gov                          45222 non-null uint8
workclass_Without-pay                        45222 non-null uint8
marital-status_Divorced                      45222 non-null uint8
marital-status_Married-AF-spouse             45222 non-null uint8
marital-status_Married-civ-spouse            45222 non-null uint8
marital-status_Married-spouse-absent         45222 non-null uint8
marital-status_Never-married                 45222 non-null uint8
marital-status_Separated                     45222 non-null uint8
marital-status_Widowed                       45222 non-null uint8
occupation_Adm-clerical                      45222 non-null uint8
occupation_Armed-Forces                      45222 non-null uint8
occupation_Craft-repair                      45222 non-null uint8
occupation_Exec-managerial                   45222 non-null uint8
occupation_Farming-fishing                   45222 non-null uint8
occupation_Handlers-cleaners                 45222 non-null uint8
occupation_Machine-op-inspct                 45222 non-null uint8
occupation_Other-service                     45222 non-null uint8
occupation_Priv-house-serv                   45222 non-null uint8
occupation_Prof-specialty                    45222 non-null uint8
occupation_Protective-serv                   45222 non-null uint8
occupation_Sales                             45222 non-null uint8
occupation_Tech-support                      45222 non-null uint8
occupation_Transport-moving                  45222 non-null uint8
relationship_Husband                         45222 non-null uint8
relationship_Not-in-family                   45222 non-null uint8
relationship_Other-relative                  45222 non-null uint8
relationship_Own-child                       45222 non-null uint8
relationship_Unmarried                       45222 non-null uint8
relationship_Wife                            45222 non-null uint8
race_Amer-Indian-Eskimo                      45222 non-null uint8
race_Asian-Pac-Islander                      45222 non-null uint8
race_Black                                   45222 non-null uint8
race_Other                                   45222 non-null uint8
race_White                                   45222 non-null uint8
gender_Female                                45222 non-null uint8
gender_Male                                  45222 non-null uint8
native-country_Cambodia                      45222 non-null uint8
native-country_Canada                        45222 non-null uint8
native-country_China                         45222 non-null uint8
native-country_Columbia                      45222 non-null uint8
native-country_Cuba                          45222 non-null uint8
native-country_Dominican-Republic            45222 non-null uint8
native-country_Ecuador                       45222 non-null uint8
native-country_El-Salvador                   45222 non-null uint8
native-country_England                       45222 non-null uint8
native-country_France                        45222 non-null uint8
native-country_Germany                       45222 non-null uint8
native-country_Greece                        45222 non-null uint8
native-country_Guatemala                     45222 non-null uint8
native-country_Haiti                         45222 non-null uint8
native-country_Holand-Netherlands            45222 non-null uint8
native-country_Honduras                      45222 non-null uint8
native-country_Hong                          45222 non-null uint8
native-country_Hungary                       45222 non-null uint8
native-country_India                         45222 non-null uint8
native-country_Iran                          45222 non-null uint8
native-country_Ireland                       45222 non-null uint8
native-country_Italy                         45222 non-null uint8
native-country_Jamaica                       45222 non-null uint8
native-country_Japan                         45222 non-null uint8
native-country_Laos                          45222 non-null uint8
native-country_Mexico                        45222 non-null uint8
native-country_Nicaragua                     45222 non-null uint8
native-country_Outlying-US(Guam-USVI-etc)    45222 non-null uint8
native-country_Peru                          45222 non-null uint8
native-country_Philippines                   45222 non-null uint8
native-country_Poland                        45222 non-null uint8
native-country_Portugal                      45222 non-null uint8
native-country_Puerto-Rico                   45222 non-null uint8
native-country_Scotland                      45222 non-null uint8
native-country_South                         45222 non-null uint8
native-country_Taiwan                        45222 non-null uint8
native-country_Thailand                      45222 non-null uint8
native-country_Trinadad&Tobago               45222 non-null uint8
native-country_United-States                 45222 non-null uint8
native-country_Vietnam                       45222 non-null uint8
native-country_Yugoslavia                    45222 non-null uint8
dtypes: int64(5), uint8(82)
memory usage: 5.6 MB

In [86]:
from sklearn.model_selection import train_test_split

In [87]:
# разбиваем выборку на тренировочную и тестовые группы
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [65]:
# вызываем модель логистической регрессии
model = LogisticRegression()

In [88]:
# обучаем модель 
model.fit(X_train,y_train)

D:\DS\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [105]:
from sklearn.model_selection import train_test_split

In [90]:
# проверяем точность модели на тренировочной выборке
model.score(X_train, y_train)

0.8462486179118622

In [92]:
# проверяем точность модели на тестовой выборке
model.score(X_test, y_test)

0.851256725878971

In [97]:
# строим модель SVM
clf = make_pipeline(StandardScaler(), SVC(gamma='auto'))
clf.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('svc',
                 SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
                     decision_function_shape='ovr', degree=3, gamma='auto',
                     kernel='rbf', max_iter=-1, probability=False,
                     random_state=None, shrinking=True, tol=0.001,
                     verbose=False))],
         verbose=False)

In [98]:
clf.score(X_train, y_train)

0.8532617280050545

In [100]:
clf.score(X_test, y_test)

0.8484558118965136

In [101]:
svc = SVC(gamma='auto')

In [102]:
# строим модель SVM без стандартизации параметров
svc.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [103]:
svc.score(X_train, y_train)

0.8676038540514927

In [104]:
svc.score(X_test, y_test)

0.8688730006633744